.Cockpit {
    text-align: center;
  }
  
  .red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .green {
    color: green;
  }
  
  .Button {
    background-color: red;
    color: white;
    border: 1px solid blue;
    padding: 10px;
    cursor: pointer
  }
  
  .Button:hover {
    background-color: salmon;
    color: black
  }
  
  
  .Button.Green {
    background-color: green;
    color: white;
  }
  
  .Button.Green:hover {
    background-color: lightgreen;
    color: black;
  }
  